﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Shibalov Roman</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("https://www.google.com/jsapi")
   
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    
    <div style="position: relative; bottom: 10px; width: 100%;">
        <hr />
        <p style="margin-left: 48%; position: relative; z-index:2;">&copy; @DateTime.Now.Year – Shibalov Roman</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
